<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div><a class="logo" href="/"><%=AppName%></a></div>
    <div class="container">
        <h1>Welcome!</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ab distinctio autem praesentium! Similique sit hic sint facere corrupti porro odio, minima ratione molestiae architecto asperiores? Tenetur, repudiandae temporibus quia reiciendis alias nobis praesentium nostrum neque labore maiores, eum exercitationem esse! Perspiciatis placeat omnis laudantium eos a consectetur alias expedita.</p>
        <div class="link"><a href="/login">Login</a></div>
    </div>
</body>
</html>