<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div><a class="logo" href="/"><%=AppName%></a></div>
    <div class="container">
        <h1>Login</h1>
        <% if(error) { %>
            <div class="errors">
                <div><%= error %></div>
            </div>
        <% } %>
        <form method="POST" action="/login">
            <input type="text" placeholder="Username" name="username" value="<%= formdata && formdata.username %>"/>
            <input type="password" placeholder="Password" name="password" value="<%= formdata && formdata.password %>"/>
            <button type="submit">Login</button>
        </form>
        <div class="link"><a href="/register">Register?</a></div>
    </div>
</body>
</html>