<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div><a class="logo" href="/"><%=AppName%></a></div>
    <div class="container">
        <h1>Welcome <%=name %>!</h1>
        <p>You are in an authenticated page.</p>
        <div class="link"><a href="/">Home</a> | <a href="/logout">Logout</a></div>
    </div>
</body>
</html>
