<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div><a class="logo" href="/"><%=AppName%></a></div>
    <div class="container">
        <h1>Register</h1>
        <form method="POST" action="/register">
            <label for="name">Name:</label><br/>
            <input type="text" placeholder="Full Name" name="name" /><br/>
            <label for="email">Email:</label><br/>
            <input type="email" placeholder="Email" name="email" /><br/>            
            <label for="name">Username:</label><br/>
            <input type="text" placeholder="Username" name="username" /><br/>
            <label for="name">Password:</label><br/>
            <input type="password" placeholder="Password" name="password" /><br/>
            <button type="submit">Register</button>
        </form>
        <div class="link"><a href="/login">Login?</a></div>
    </div>
</body>
</html>